{% extends "base.html.twig" %}
{% block title %}
CoinDB-Münzen
{% endblock %}
{% stylesheets %}
{% endstylesheets %}
{% block body %}
<div class="coins">
{% for i in 0..11 %}
<div class="container" id="container{{ i }}">
  <div class="card" id="card{{ i }}">
    <div class="font">
      <div class="div_image">
        {% image '@AppBundle/Resources/public/images/cloth.jpg' %}
            <img class="image_background" src="{{ asset_url }}" alt="Example"/>
        {% endimage %}

        {% image '@AppBundle/Resources/public/images/test.jpg' %}
            <img class="image" src="{{ asset_url }}" alt="Example"/>
        {% endimage %}
      </div>
      <div class="card_content">
        <p><h1>Testmünze</h1>
          <br />
          Hier stehen verschiedene Informationen<br />
          dieser Münze drin.</p>
          <p class="more" id="more{{ i }}">Mehr...</p>
          <button class="button edit" id= "edit{{ i }}">Bearbeiten</button>
          <button class="button delete" id="delete{{ i }}" >Löschen</button>
      </div>
    </div>
    <div class="back">
        <p><h1>Testmünze</h1>
          <br />
          Hier stehen verschiedene Informationen<br />
          dieser Münze drin.</p>
          <p>
          Hier stehen verschiedene Informationen<br />
          dieser Münze drin.
          </p>
          <p>
          Hier stehen verschiedene Informationen<br />
          dieser Münze drin.
          </p>
          <p>
          Hier stehen verschiedene Informationen<br />
          dieser Münze drin.
          </p>
          <button class="closebutton" id="close{{ i }}">X</button>
    </div>
    <div class="card_zoomin_content">
        <table class="card_table_edit">
          <tr>
            <td class="card_table_edit_td">Bild der Münze</td>
            <td>
            <!-- <form method="post" enctype="multipart/form-data"> -->
                <input name="datei" type="file" size="50" accept="image/*">
            <!-- </form> -->
            </td>
          </tr>
          <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Bezeichnung</td>
            <td>
              <input type="text" class="text_edit" name="bz" id="bz{{ i }}"/>
            </td>
          </tr>
          <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Münzserie</td>
            <td>
              <select class="select_edit" id="ms{{ i }}">
                <option value="">Test</option>
                <option value="">Test</option>
              </select>
            </td>
          </tr>
            <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Material</td>
            <td>
              <select class="select_edit" id="ma{{ i }}">
                <option value="">Test</option>
                <option value="">Test</option>
              </select>
            </td>
          </tr>
            <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Wert</td>
            <td>
              <input type="text" class="text_edit" id="we{{ i }}" />
            </td>
          </tr>
            <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Kaufdatum</td>
            <td>
              <input type="date" id="kd{{ i }}" class="text_edit" />
            </td>
          </tr>
            <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Preis</td>
            <td>
              <input type="text" class="text_edit" id="pr{{ i }}" />
            </td>
          </tr>
            <tr class="td_none"></tr>
          <tr>
            <td class="card_table_edit_td" >Land</td>
            <td>
              <select class="select_edit" id="la{{ i }}">
                <option value="">Test</option>
                <option value="">Test</option>
              </select>
            </td>
          </tr>
        </table>
        <button class="close_zoomin" id="close_zoomin{{ i }}">✔</button>
    </div>
  </div>
</div>
{% endfor %}
</div>
<div class="navigation_pages select">
  <nav>
    <a class="page_navigate" id="previous"><</a>
{% for i in 1..9 %}
    <a class="page" id="{{i}}">{{i}}</a>
{% endfor %}
    <a class="page_navigate" id="next">></a>
  </nav>
</div>
<button class="button_create">+</button>
<div class="card_create noanimation">
  <div class="card_zoomin_content zoomin_create">
    {{ form_start(form) }}  
      <table class="card_table_edit">
        <tr>
          <td class="card_table_edit_td">Bild der Münze</td>
          <td>
          <!-- <form method="post" enctype="multipart/form-data"> -->
              <input name="datei" type="file" size="50" accept="image/*">
          <!-- </form> -->
          </td>
        </tr>
        <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Bezeichnung</td>
          <td>
            <input type="text" class="text_edit" name="bz" id="bz"/>
          </td>
        </tr>
        <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Münzserie</td>
          <td>
            <select class="select_edit" id="ms_create">
              <option value="">Test</option>
              <option value="">Test</option>
            </select>
          </td>
        </tr>
          <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Material</td>
          <td>
            <select class="select_edit" id="ma">
              <option value="">Test</option>
              <option value="">Test</option>
            </select>
          </td>
        </tr>
          <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Wert</td>
          <td>
            <input type="text" class="text_edit" id="we" />
          </td>
        </tr>
          <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Kaufdatum</td>
          <td>
            <input type="date" id="kd" class="text_edit" />
          </td>
        </tr>
          <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Preis</td>
          <td>
            <input type="text" class="text_edit" id="pr" />
          </td>
        </tr>
          <tr class="td_none"></tr>
        <tr>
          <td class="card_table_edit_td" >Land</td>
          <td>
            <select class="select_edit" id="la">
              <option value="">Test</option>
              <option value="">Test</option>
            </select>
          </td>
        </tr>
      </table>
      <button class="close_zoomin_create" id="close_zoomin">✔</button>
  </div>
</div>
{% endblock %}
